{% extends 'base.html' %}

{% block content %}
<style>
.is-invalid {
  border: 1px solid red;
}
</style>
<div class="container mt-5">
    <h1 class="mb-4">Добавление фотографии</h1>
       <form id="photoForm" enctype="multipart/form-data">
       {% csrf_token %}
           <div class="mb-3">
               <label for="title" class="form-label">Название</label>
               <input type="text" class="form-control" name="title" id="title" required>
           </div>
           <div class="mb-3">
               <label for="description" class="form-label">Описание</label>
               <textarea class="form-control" id="description" name="description" rows="3"></textarea>
           </div>
           <div class="mb-3">
               <label for="current_photo" class="form-label">Фотография</label>
               <input type="file" class="form-control" accept="image/*" name="current_photo" id="current_photo" required>
           </div>
       </form>
       <button id="editButton" class="btn btn-primary" onclick="validateForm()">Отправить</button>
   </div>

<script>
function validateForm() {
  let form = document.getElementById("photoForm");
  let inputs = form.querySelectorAll('[required]');

  let isValid = true;

  inputs.forEach(input => {
    if (input.value.trim() === '') {
      input.classList.add('is-invalid');
      isValid = false;
    }
  });

  if (!isValid) {
    alert('Пожалуйста, заполните все обязательные поля');
  } else {
    return sendPhoto() };
}
</script>

<script>
    async function sendPhoto() {
        const csrftoken = getCookie('csrftoken');

        const photoForm = document.getElementById("photoForm");

        const formData = new FormData(photoForm);

        const photos = await axios.post(`http://127.0.0.1:8000/api/v1/photos/`, formData, {'headers': {
        'Authorization': '{{ user.token }}', 'X-CSRFToken': csrftoken}});

        window.location.replace("{% url 'web_site:profile' %}");
    };
</script>
{% endblock %}