{% extends 'base.html' %}

{% block content %}
<input type="hidden" id="photoId" value="{{ photo.id }}">
<div class="container mt-5">
    <h1 class="mb-4">{{ title }}</h1>
       <form id="photoForm" enctype="multipart/form-data">
       {% csrf_token %}
           <div class="mb-3">
               <label for="title" class="form-label">Название</label>
               <input required="false" type="text" class="form-control" name="title" id="title" placeholder="{{ photo.title }}">
           </div>
           <div class="mb-3">
               <label for="description" class="form-label">Описание</label>
               <textarea class="form-control" id="description" name="description" rows="3" placeholder="{{ photo.description }}"></textarea>
           </div>
           <div class="mb-3">
               <label for="current_photo" class="form-label">Фотография</label>
               <input required="false" type="file" class="form-control" accept="image/*" name="current_photo" id="current_photo">
           </div>
       </form>
       <button id="editButton" class="btn btn-primary" onclick="editPhoto()">Отправить</button>
   </div>

<script>
    async function editPhoto() {
        const csrftoken = getCookie('csrftoken');

        const photoId = document.getElementById("photoId").value;

        const photoForm = document.getElementById("photoForm");

        const formData = new FormData(photoForm);

        const photo = await axios.patch(`http://127.0.0.1:8000/api/v1/photos/${photoId}/`, formData, {'headers': {
        'Authorization': '{{ user.token }}', 'X-CSRFToken': csrftoken}});

        window.location.replace("{% url 'web_site:profile' %}");
    };
</script>

<!--<script>-->
<!--    var el = document.getElementById("editButton");-->
<!--    el.addEventListener("onclick", editPhoto);-->
<!--</script>-->
{% endblock %}