{% extends 'base.html' %}

{% block content %}
<input type="hidden" id="user" value="{{ profile }}">
<title>{{ title }}</title>
<style>
  .profile-card {
    max-width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
  }

  .profile-name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .profile-email {
    color: #666;
    margin-bottom: 20px;
  }

  .btn {
    margin-right: 10px;
  }
}
</style>
<div class="profile-card">
    {% if profile.avatar %}
    <img src="{{ profile.avatar }}" alt="Profile Picture" class="profile-picture">
    {% else %}
    <img src="{{ default_image }}" alt="Profile Picture" class="profile-picture">
    {% endif %}
    <div class="profile-name">{{ profile.first_name }} {{ profile.last_name }}</div>
    <div class="profile-email">{{ profile.email }}</div>
    <div id='tokenContainer' class="text">{{ profile.token }}</div>
    <a class="btn btn-secondary" onclick="generate_token()">Генерировать токен</a>
  </div>
</div>
<div id="gallery" class="row">
</div>
<div class="d-flex justify-content-center m-2">
  <a href="{% url 'web_site:add_photo' %}" class="btn btn-primary">Добавить фотографию</a>
</div>

<script>
    async function profilePhotos() {
        document.getElementById("gallery").innerHTML = ""

        const gallery = document.getElementById('gallery');

        const user = document.getElementById('user').value;

        const photos = await axios.get('http://127.0.0.1:8000/api/v1/photos/');

        for (var photo of photos.data.results) {
              if (photo.author == user) {
              const div = document.createElement('div');
        div.classList.add('col-md-4', 'mb-3');

        const card = document.createElement('div');
        card.classList.add('card', 'm-2');

        card.innerHTML = `
            <a href="/photo/${photo.id}">
            <img src="${photo.current_photo}" class="card-img-top" alt=${photo.title} data-toggle="tooltip" title=${photo.description}>
            </a>
        `;

        const cardBody = document.createElement('div');
        cardBody.classList.add('card-body');

        cardBody.innerHTML = `
            <input type="hidden" id="object_id" value="{{ photo.id }}">
            <h5 class="card-title">${photo.title}</h5>
            <p class="card-text">Автор: ${photo.author}</p>
        `;


        if (photo.status == 'P') {
            cardBody.innerHTML += `
                <p id='statusDiv_${photo.id}' class="card-text">Дата публикации: ${photo.publication_date}</p>
                `;
            } else if (photo.status == 'M') {
            cardBody.innerHTML += `
                <p id='statusDiv_${photo.id}' class="card-text">На модерации</p>
                `;
            } else if (photo.status == 'D') {
            cardBody.innerHTML += `
                <p id='statusDiv_${photo.id}' class="card-text">На удалении</p>
                `;
            };

        cardBody.innerHTML += `
            <p class="card-text">Количество голосов: ${photo.like_count}</p>
            <p class="card-text">Количество комментариев: ${photo.comment_count}</p>
            <a class="btn btn-primary" href="/edit_photo/${photo.id}">Редактировать фотографию</a>
        `;

        if (photo.status != 'D') {
            cardBody.innerHTML += `
                <a class="btn btn-danger" id="deletePhoto_${photo.id}" onclick="deletePhoto(${photo.id})">Удалить фотографию</a>
                `;
        } else if (photo.status == 'D') {
            cardBody.innerHTML += `
                <a class="btn btn-danger" id="deletePhoto_${photo.id}" onclick="deletePhoto(${photo.id})">Восстановить фотографию</a>
                `;
        };

        card.appendChild(cardBody);

        div.appendChild(card);

        gallery.appendChild(div);
              };
              };
        };
</script>

<script>
    async function generate_token() {

        const csrftoken = getCookie('csrftoken');

        const tokenDiv = document.getElementById("tokenContainer");

        const profile = await axios.get('http://127.0.0.1:8000/api/v1/profile/');

        const newToken = await axios.post('http://127.0.0.1:8000/api/v1/profile/generate_token/', {},
        {'headers': {'Authorization': profile.data.token, 'accept': 'application/json; charset=UTF-8', 'X-CSRFToken': csrftoken}});

        tokenDiv.innerHTML = newToken.data.token;
    };
</script>

<script>
    window.onload = profilePhotos()
</script>
{% endblock %}