[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-decouple = "*"
psycopg2 = "*"
pillow = "*"
django-split-settings = "*"
social-auth-app-django = "*"
django-extensions = "*"
djangorestframework = "*"
django-fsm = "*"
django-service-objects = {git = "git+https://github.com/dvkurbatov/django-service-objects"}
drf-yasg = "*"
setuptools = "*"
l = "*"
rich = "*"
django-log-request-id = "*"
django-cors-headers = "*"
celery = "*"
redis = "*"
channels = "*"
daphne = "*"
channels-redis = "*"
gunicorn = "*"
factory-boy = "*"

[dev-packages]
pre-commit = "*"
autoflake = "*"
pyupgrade = "*"
yesqa = "*"
flake8 = "*"
bandit = "*"
pre-commit-hooks = "*"
black = "*"
mypy = "*"
isort = "*"

[requires]
python_version = "3.12"
python_full_version = "3.12.3"

[scripts]
test = "python manage.py test"
pre-commit = "pre-commit run --all-files"
redis = "redis-server &"
celery = "celery -A photo_competition worker -l info --beat &"
